<dialog class="image-lightbox" data-image-lightbox aria-label="图片预览">
  <button class="lightbox-close" type="button" data-lightbox-close aria-label="关闭图片预览">关闭</button>
  <img data-lightbox-image alt="" />
  <p data-lightbox-caption></p>
</dialog>
